
@{
    ViewBag.Title = "CourseLearn";
    Layout = "~/Views/Shared/_Layout_Student.cshtml";
    var CourseVideo = ViewBag.CourseVideo as e_learning.Models.CourseVideo;
}

@model Data_Oracle.Entities.Course

@section StylesLearn{
    <link href="~/Content/Assets/template03/css/css2.css" rel="stylesheet" />
}


@section ScriptsLearn{
    <script src="~/Content/Assets/template03/js/js1.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            
            $('.lesson-link').on('click', function (e) {
           
                e.preventDefault();
              
                var url = $(this).attr('href');
            
                $('.lesson-item.active').removeClass('active');
             
                $(this).closest('.lesson-item').addClass('active');

                $.get(url, function (data) {
                    
                    $('#video-player-container').html(data);
                });
            });
        });
    </script>

}

<div class="course-container">
    <aside class="sidebar">

        <div class="course-title">
            <span>@Model.CourseName</span>
            <i class="fas fa-times" id="close-sidebar"></i>
        </div>


        @foreach (var x in CourseVideo.Chapters)
        {

            if (x.ChapterIndex == 1)
            {

                <div class="module">
                    <div class="module-header" data-module="@x.ChapterIndex">
                        <span class="module-name">
                            <i class="fas fa-chevron-down"></i>
                            @x.ChapterName
                        </span>
                        <i class="fas fa-check module-status"></i>
                    </div>

                    <ul class="lesson-list active" id="@x.ChapterID">
                        @foreach (var y in x.Lessions)
                        {
                            TimeSpan duration = e_learning.Util.VideoUtil.GetVideoDuration("~/Content/Assets/videos/course/" + y.VideoData);
                            <a class="d-flex justify-content-between lesson-link lesson-item" href="@Url.Action("LoadVideoPartial" , "Course" , new {lessionID = y.LessionID})">
                            <li class="active">

                                <i class="fas fa-play-circle"></i>
                                <span>@y.LessionName</span>

                            </li>
                            <span class="duration">@string.Format("{0}:{1:D2}", duration.Minutes, duration.Seconds)</span>
                            </a>

                        }
                        <a class="d-flex justify-content-between lesson-link lesson-item"
                           href="@Url.Action("LoadQuizPartial", "Course", new { chapterId = x.ChapterID })">

                        <li class="">
                            <i class="fas fa-question-circle" style="color: #ff9800;"></i> <span>Bài tập trắc nghiệm</span>
                        </li>
                        <span class="duration">Quiz</span>
                        </a>
                    </ul>
                </div>

            }
            else
            {
                <div class="module locked">
                    <div class="module-header" data-module="@x.ChapterIndex">
                        <span class="module-name">
                            <i class="fas fa-chevron-right"></i>
                            @x.ChapterName
                        </span>
                        <i class="fas fa-lock module-status ml-2" style="color: #181d38"></i>
                    </div>

                    <ul class="lesson-list " id="@x.ChapterID">

                        @foreach (var y in x.Lessions)
                        {

                            TimeSpan duration = e_learning.Util.VideoUtil.GetVideoDuration("~/Content/Assets/videos/course/" + y.VideoData);


                            <li class="lesson-item active">
                                <i class="fas fa-play-circle"></i>
                                <span>@y.LessionName</span>
                                <span class="duration">@string.Format("{0}:{1:D2}", duration.Minutes, duration.Seconds)</span>
                            </li>
                        }
                    </ul>
                </div>
            }
        }

    </aside>

    <main class="content-area">
        <div class="content-wrapper">

            @* THAY ĐỔI LỚN Ở ĐÂY:
        1. Xóa @Html.Action("LoadVideoPartial", "Course")
        2. Thêm một <div> với ID "video-player-container"
            *@

            <div id="video-player-container">

                @{
                    var firstLesson = CourseVideo.Chapters.FirstOrDefault()?
                                                  .Lessions.FirstOrDefault();
                    if (firstLesson != null)
                    {
                        @Html.Action("LoadVideoPartial", "Course", new { lessionID = firstLesson.LessionID });
                    }
                }
            </div>

        </div>
        
    </main>

    <i class="fas fa-bars mr-3" id="open-sidebar"></i>
</div>

